* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: SocialIco;
  src: url("fonts/Socialico.ttf");
}
html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: #ccc;
  font-family: 'Arial', sans-serif;
}

h2 {
  font-size: 28px;
  color: #445161;
  margin-bottom: 25px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .container {
    padding: 0;
  }
}
/*.container {
  padding: 0px;
  width: 1280px;
  margin: 0 auto;
  background: #ffffff;
} */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.padding_side {
  padding-left: 50px;
  padding-right: 50px;
}

.header_main {
  background: #445161;
  padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .header_main {
    padding: 15px;
  }
}

.product_name {margin-top: 0;
color: #ffffff;
font-size: 60px;
font-weight: 400;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: 479px) {
  .product_name {
    font-size: 46px;
  }
}

.header_ul{
  list-style: inside url("img/plus.png");
  padding-left: 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.header_img {
  width: 100%;
}

.about_product {
  padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .about_product {
    padding: 15px;
  }
}

.about_h2 {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 30px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .about_h2 {
    margin-bottom: 15px;
  }
}

.about_p2 {
  margin-top: 15px;
}

.about_product_img {
  width: 100%;
}

.about_p1,
.about_p2 {
  color: #445161;
  font-size: 16px;
  line-height: 24px;
}

.dignity_product {
  padding: 50px;
  background: #f5f5f5;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .dignity_product {
    padding: 15px;
  }
}

.dignity_h2 {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 30px;
  text-align: center;
}

.dignity_ul {
  margin-top: 25px;
  list-style-type: none;
}

.dignity_product_li {
  color: #445161;
  font-size: 16px;
  line-height: 24px;
  padding-left: 40px;
  text-align: justify;
}

@media (min-width: 992px) {
  .dignity_ul li[class^="col-"]:not( :nth-child(-n+2)) {
    margin-top: 15px;
  }
}
@media all and (min-width: 0) and (max-width: 991px) {
  .dignity_ul li[class^="col-"]:not(:first-child) {
    margin-top: 15px;
  }
}

@media (max-width: 479px) {
  .dignity_img [class^="col-"]:last-child {
    display: none;
    padding-bottom: 0;
  }
}

@media (max-width: 479px) {
  .dignity_img {
    background-position: center bottom;
    padding-bottom: 40px;
    padding-left: 0;
    text-align: left;
  }
}

.dignity_img{
  float: left;
  width: 32px;
  height:32px;
  background: #445161 url(img/layer2.png) no-repeat 50% 50%;
  margin-top: 5px;
  margin-right: 11px;
  margin-bottom: 60px;
}

.scrinshots_product {
  padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .scrinshots_product {
    padding: 15px;
  }
}

.scrinshots_h2 {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 30px;
  text-align: center;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .scrinshots_product [class^="col"]:not(:first-child) {
    margin-top: 15px;
  }
}
@media (min-width: 992px) {
  .scrinshots_product [class^="col"]:nth-child(n+3) {
    margin-top: 15px;
  }
}

.scrinshot_product_plus {
  olor: #445161;
}
.scrin_img {
  float: left;
  margin-right: 15px;
}

@media (max-width: 479px) {
  .scrin_img {
    float: none;
    display: block;
    margin: auto;
  }
}

.screenshotUnitHead {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

.screenshotDesc {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

.reviews {
  padding: 50px;
  background: #f5f5f5;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .reviews {
    padding: 15px;
  }
}

.reviews_h2,
.buy_h2 {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 30px;
  text-align: center;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .reviews .reviewUnitWrap:not(:first-child) {
    margin-top: 15px;
  }
}
@media (min-width: 992px) {
  .reviews .reviewUnitWrap:nth-child(n+3) {
    margin-top: 15px;
  }
}
.reviews .reviewUnit:after {
  clear: both;
  display: block;
  content: '';
}
.reviews .reviewUnit .reviewImg {
  border-radius: 50%;
  float: right;
}
@media all and (min-width: 0) and (max-width: 991px) {
  .reviews .reviewUnit .reviewImg {
    display: block;
    float: none;
    margin: 0 auto 15px auto;
  }
}
.reviews .reviewUnit .reviewWrap:after {
  clear: both;
  display: block;
  content: '';
}
@media all and (min-width: 0) and (max-width: 991px) {
  .reviews .reviewUnit .reviewWrap {
    margin-top: 30px;
  }
}
.reviews .reviewUnit .reviewWrap .review {
  position: relative;
  color: #445161;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  float: right;
  background: #ebebeb;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
}
.reviews .reviewUnit .reviewWrap .review::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  top: 27px;
  background: #ebebeb;
  transform: rotate(45deg);
}
@media all and (min-width: 0) and (max-width: 991px) {
  .reviews .reviewUnit .reviewWrap .review::before {
    top: -10px;
    left: calc(50% - 13px);
  }
}
.reviews .reviewUnit .reviewWrap .review .reviewAuthor {
  color: #989898;
  font-size: 14px;
  line-height: 18px;
}

.buy {
  padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .buy {
    padding: 15px;
  }
}
.buy_main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .buy_main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.buy_col p {
  margin-bottom: 10px;
}

.buy_col {
  padding-top: 17px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;

  background: #445161;
  border-radius: 4px;
  border: 2px solid #445161;
}
@media all and (min-width: 0) and (max-width: 991px) {
  .buy_col:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .buy_col:not(:last-child) {
    margin-right: 15px;
  }
}

.buy_price {
  text-align: center;
  padding: 18px;
  color: #445161;
  background: #ffffff;
  font-size: 40px;
  line-height: 30px;
}

ol {
  counter-reset: myCounter;
}

.buy_li{
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  list-style: none;
  padding-left: 10px;
}

.buy_li:before {
  counter-increment: myCounter;
  content:counter(myCounter) ".";
  color: white;
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
}

.buyBtn {
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px;
  background: #ffffff;
  color: #445161;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  margin: 20px;
  text-decoration: none;
}

footer {
  padding: 50px;
  background: #445161;
}

@media all and (min-width: 0) and (max-width: 767px) {
  footer {
    padding: 15px;
  }
}

footer:after {
  content: '';
  clear: both;
  display: block;
}
footer .contactsHeader {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 30px;
  color: #ffffff;
  text-align: center;
}

footer .contactsContent:after {
  clear: both;
  content: '';
  display: block;
}

footer .contactsContent form input[type="text"],
footer .contactsContent form textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 21px;
  padding: 7px 5px;
  box-sizing: border-box;
  color: #445161;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}
footer .contactsContent form textarea {
  font-family: inherit;
  min-height: 170px;
}
footer .contactsContent form input[type="submit"] {
  border-radius: 5px;
  background-color: #ffffff;
  width: 140px;
  height: 40px;
  text-align: center;
  color: #445161;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}

@media all and (min-width: 0) and (max-width: 767px) {
  footer .contactsContent .contactsList {
    padding-top: 15px;
  }
}
footer .contactsContent .contactsList > div:not(.socialIcons) {
  margin-bottom: 15px;
}
footer .contactsContent .contactsList .skype,
footer .contactsContent .contactsList .icq,
footer .contactsContent .contactsList .email,
footer .contactsContent .contactsList .phone {
  padding-left: 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.skype {
  background: url("img/skype_icon.png") no-repeat left center;
}
.icq {
  background: url("img/icq_icon.png") no-repeat left center;
}
.email {
  background: url("img/email_icon.png") no-repeat left center;
}
.phone {
  background: url("img/phone_icon.png") no-repeat left center;
}
.socialIcons {
  font-family: SocialIco, sans-serif;
  color: #ffffff;
  font-size: 60px;
  line-height: 44px;
}
.copy {
  height: 26px;
  text-align: center;
  color: #445161;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 26px;
  background: #f5f5f5;
}
